
* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: sans-serif, serif;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
}
/* center column */
.flex-mainContainer-centerColumn {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 40px 0px;
}
/* header row */
.flex-mainContainer-header {
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
/* first row */
.flex-mainContainer-firstRow {
  display: flex;
  flex-direction: row;
  height: 40vh;
}
.flex-mainContainer-firstLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
.flex-mainContainer-firstRight {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
/* second row */
.flex-mainContainer-secondRow {
  display: flex;
  flex-direction: row;
  height: 40vh;
}
.flex-mainContainer-secondLeft {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
.flex-mainContainer-secondRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
/* third row */
.flex-mainContainer-thirdRow {
  display: flex;
  flex-direction: row;
  height: 40vh;
}
.flex-mainContainer-thirdLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
.flex-mainContainer-thirdRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}








/* footer row */
.flex-mainContainer-footer {
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #c8c5c1;
}
/* copy right row */
.flex-mainContainer-copyRight {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
}
.flex-mainContainer-copyRight .copyRight {
  margin: 0px 20px 20px 0px;
  color: #737373;
  font-size: 10px;
}
